<div id="lady-container">
  <span>
    <span>
      <app-pink-horse></app-pink-horse>
    </span>
    <span>
      <app-pink-horse></app-pink-horse>
    </span>
    <span>
      <app-pink-horse></app-pink-horse>
    </span>
  </span>
  <div class="border-1">
    <div class="border-2">
      <div class="border-3">
        <img id="lady-image" src="lady.png" alt="lady" />
      </div>
    </div>
  </div>
  <span>
    <span>
      <app-pink-horse></app-pink-horse>
    </span>
    <span>
      <app-pink-horse></app-pink-horse>
    </span>
    <span>
      <app-pink-horse></app-pink-horse>
    </span>
  </span>
</div>

<audio id="pink-pony-club" autoplay controls>
  <source src="pink_pony_club.mp3" type="audio/mp3" />
</audio>
